@import url('https://fonts.googleapis.com/css?family=Raleway:800');

body {
    background: #FBE9D9;
    margin: 0;
}

h1,
h2 {
    font-family: 'Raleway';
    color: #04238D;
}

p {
    font-family: system-ui;
}

.shelf {
    position: absolute;
    top: 13.5em;
    fill: white;
}

svg {
    overflow: visible;
}