
body {
    background: #FBE9D9;
    margin: 0;
}

h1,
h2 {
    font-family: 'Bodoni MT';
    color: #04238D;
    font-size:4em;
}

p {
    font-family: system-ui;
}

/* .authors{
    border-width: 0px 0px 0px 0px;
    border-color: rgba(4, 35, 141, 1);
    background-color:#FEFBF7;
    border-radius: 12px;
    border-style: solid;
    box-shadow: 0px 3px 4px 0px rgba(187, 187, 187, 1);
    border-style: solid;
    box-shadow: 0px 6px 12px 3px rgba(187, 187, 187, 0.2);
    display: flex;
    position: relative;
    width: 34em;
    height: 11em;
} */

/* .authors label{
    display: flex;

} */


svg {
    overflow: visible;
}

.invisible{
    display: none;
}

